*{
    margin: 0;
    padding: 0;
}
.main{
    height: 90vh;
    width: 100%;
    background-color: blueviolet;
}
.nav
{
    height: 110px;
    width: 100%;
    display: flex;
justify-content: center;
/* background-color: red; */
}
.navimg{
    width: 20%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav img{
    width: 90px;
    height: 30px;
}
.navitam {
    width: 40%;
    height: 110px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: black; */
}
.navitam a{
 text-decoration: none;
 color: white;
}
.navbtn{
    width: 30%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbtn .navbt{
    width: 170px;
    height: 50px;
    border-radius: 30px;
    border: none;
    background-color: red;
}